{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}


<div class="example-wrapper">
<h3>À propos de Gamers </h3>
    <div id="description">
     <p>Animés par notre passion, nous voulons être le leader mondial du marché du divertissement numérique interactif. Depuis notre siège en Guadeloupe, nous proposon des jeux, contenus et services en ligne pour consoles, appareils portables et ordinateurs connectés à Internet. Notre catalogue de jeux est rempli de marques acclamées comme EA SPORTS™ FIFA, Battlefield™, Apex Legends™, Les Sims™, Madden NFL, Need for Speed™, Titanfall™, F1® et bien d'autres.</p>
    </div>

<div id="adresse">
<h3>Nous contacter</h3>
        <p>Numéro de téléphone : <a href="tel: 05.90.12.34.56" target="_blank">0590.12.34.65</a></p>
        <p>Le siege social se situe au : <br/> CWTC Complexe World Trade Center <br/>
        Route du CWTC 97122 ZI de Jarry <br/> Baie Mahault, 97122, Guadeloupe <br/>
        </p>
    </div>
</div>
{% endblock %}
