body {
    background-color: white;
    color: #222;
}

.dark-mode {
    background-color: #222;
    color: white;
}

.nuit{
    background-color: black;
    color: white;
}

.card-home {
    height: 450px;
}