{# <div class="container">
	<div class="row">
		<div class="col">

			<div class="bloc">
				<img src="assets/uploads/products/{{product.imageProduct}}" height="100" href="#">
				<h6>{{product.name}}</h6>
				<span>€{{product.priceProduct / 100 }}</span>
				<p>{{product.description}}</p>
                <hr>
			</div>

		</div>
	</div>
</div> #}
